# Analyzing Hubway Trips in SQL & Python

### The db file can be downloaded here --> https://www.dataquest.io/blog/large_files/hubway.db

In [2]:
!pip install ipython-sql
%reload_ext sql
%sql sqlite:///hubway.db
%config SqlMagic.autocommit=False

Requirement already satisfied: ipython-sql in c:\users\moham\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\moham\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\moham\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython-genutils in c:\users\moham\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in c:\users\moham\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\moham\anaconda3\lib\site-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: ipython in c:\users\moham\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\moham\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\moham\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: colorama in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: traitlets>=5 in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: stack-data in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: decorator in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\moham\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in c:\users\moham\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\moham\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\moham\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\moham\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\moham\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [8]:
%sql Select * from Trips limit 2

 * sqlite:///hubway.db
Done.

[(1, 9, '2011-07-28 10:12:00', 23, '2011-07-28 10:12:00', 23, 'B00468', 'Registered', "'97217", 1976.0, 'Male'),
 (2, 220, '2011-07-28 10:21:00', 23, '2011-07-28 10:25:00', 23, 'B00554', 'Registered', "'02215", 1966.0, 'Male')]

In [9]:
trips.head(2)

,id,duration,start_date,start_station,end_date,end_station,bike_number,sub_type,zip_code,birth_date,gender
0,1,9,2011-07-28 10:12:00,23.0,2011-07-28 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
1,2,220,2011-07-28 10:21:00,23.0,2011-07-28 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male

**About the Dataset and Schema**

The database has two tables, trips and stations. To begin with, we'll look at the trips table. It contains the following columns:


**Trips:**

id — A unique integer that serves as a reference for each trip

duration — The duration of the trip, measured in seconds

start_date — The date and time the trip began

start_station — An integer that corresponds to the id column in the stations table for the station the trip started at

end_date — The date and time the trip ended

end_station — The 'id' of the station the trip ended at

bike_number — Hubway's unique identifier for the bike used on the trip

sub_type — The subscription type of the user. "Registered" for users with a membership, "Casual" for users without a membership

zip_code — The zip code of the user (only available for registered members)

birth_date — The birth year of the user (only available for registered members)

gender — The gender of the user (only available for registered members)


**Station:**


id — A unique identifier for each station (corresponds to the start_station and end_station columns in the trips table)

station — The station name

municipality — The municipality that the station is in (Boston, Brookline, Cambridge or Somerville)

lat — The latitude of the station

lng — The longitude of the station

## Questions

### Q1. What was the duration of the longest trip? What was the average trip duration? What was the smallest trip duration?

#### SQL solution

In [10]:
%sql select min(duration) smallest_trip ,max(duration) longest_trip ,avg(duration) Average_trip  from trips

 * sqlite:///hubway.db
Done.

[(0, 9999, 912.4096819046612)]

#### Python solution

In [11]:
trips.agg({'duration': ['mean', 'min', 'max']}).T

                mean  min     max
duration  912.409682  0.0  9999.0

### Q2. How many trips were taken by 'Registered' users?

#### SQL solution

In [12]:
%sql select count(*) number_trips  from trips where sub_type='Registered'

 * sqlite:///hubway.db
Done.

[(1105192,)]

#### Python solution

In [13]:
trips[trips['sub_type']=='Registered']['id'].count()

1105192

### Q3. How many trips were taken by male users in comparison to Female users? for Registered users only

#### SQL solution

In [14]:
%sql select gender,count(*) number_trips  from trips where sub_type='Registered' group by gender

 * sqlite:///hubway.db
Done.

[('Female', 271333), ('Female\n', 1), ('Male', 833858)]

#### Python solution

In [15]:
trips[trips['sub_type']=='Registered'].groupby('gender')['id'].count()

gender
Female      271333
Female\n         1
Male        833858
Name: id, dtype: int64

### Q4. Do registered or casual users take longer trips?

#### SQL solution

In [16]:
%sql select sub_type,avg(duration) avgduration  from trips group by sub_type

 * sqlite:///hubway.db
Done.

[('Casual', 1519.6438967403815), ('Registered', 657.0260669639302)]

#### Python solution

In [17]:
trips.groupby('sub_type')['duration'].mean()

sub_type
Casual        1519.643897
Registered     657.026067
Name: duration, dtype: float64

### Q5. Which bike was used for the most trips?

#### SQL solution

In [18]:
%sql select bike_number,count(*) number_trips  from trips group by bike_number order by 2 desc limit 1

 * sqlite:///hubway.db
Done.

[('B00490', 2120)]

#### Python solution

In [19]:
trips.groupby('bike_number')['id'].count().sort_values(ascending=False).head(1)

bike_number
B00490    2120
Name: id, dtype: int64

### Q6. What is the average duration of trips by users over the age of 30?

#### SQL solution

In [20]:
%sql SELECT AVG(duration) FROM trips WHERE (2021 - birth_date) > 30

 * sqlite:///hubway.db
Done.

[(660.295194977378,)]

#### Python solution

In [21]:
trips[(2022-trips['birth_date'])>30]['duration'].mean()

659.6764337335354

### Q7. Which stations are most frequently used for round trips?

#### SQL solution

In [22]:
%%sql 

SELECT t.start_station , COUNT(*) number_trips
FROM trips t 
WHERE t.start_station = t.end_station
GROUP BY t.start_station
ORDER BY 2 DESC
LIMIT 5;

 * sqlite:///hubway.db
Done.

[(58, 3064), (36, 2548), (42, 2163), (53, 2144), (52, 1636)]

#### Python solution

In [23]:

trips\
    .query('start_station==end_station')\
    .groupby('start_station')['id'].count()\
    .sort_values(ascending=False)\
    .head(5)

start_station
58.0    3064
36.0    2548
42.0    2163
53.0    2144
52.0    1636
Name: id, dtype: int64

### Q8. How many trips start and end in different municipalities?

#### SQL solution

In [24]:
%%sql

SELECT COUNT(*) number_trips
FROM trips t 
JOIN stations AS s_start ON t.start_station = s_start.id
JOIN stations AS s_end ON t.end_station = s_end.id
WHERE s_start.municipality <> s_end.municipality

 * sqlite:///hubway.db
Done.

[(309748,)]

#### Python solution

In [25]:

trips.dropna(subset=['start_station','end_station'])\
    .merge(stations.dropna(subset=['id'])\
           ,how='left', left_on='start_station',right_on='id')\
    .merge(stations.dropna(subset=['id'])
           ,how='left', left_on='end_station',right_on='id',suffixes=('_start_station','_end_station'))\
    .query('municipality_start_station!=municipality_end_station')\
    ['id'].count()

309748

### Q9. How many trips incurred additional fees (lasted longer than 30 minutes)?

#### SQL solution

In [26]:
%sql select count(*) from trips where CAST(duration AS FLOAT)/60 > 30

 * sqlite:///hubway.db
Done.

[(123155,)]

#### Python solution

In [27]:
trips[(trips['duration']/60)>30]['id'].count()

123155

### Q10. Which bike was used for the longest total time? Provide the answer in Hours

#### SQL solution

In [28]:
%sql select bike_number,CAST(sum(duration) AS FLOAT) /3600 hour_used from trips group by bike_number order by 2 desc limit 1

 * sqlite:///hubway.db
Done.

[('B00490', 571.8452777777778)]

#### Python solution

In [29]:

trips\
    .groupby('bike_number',as_index=False)['duration'].sum()\
    .eval('total_duration_hours=duration/3600')\
    .sort_values(by='total_duration_hours',ascending=False)\
    .head(1)

    bike_number  duration  total_duration_hours
504      B00490   2058643            571.845278

### Q11. Did registered or casual users take more round trips?

#### SQL solution

In [30]:
%%sql 

SELECT t.sub_type , COUNT(*) number_trips
FROM trips t 
WHERE t.start_station = t.end_station
GROUP BY t.sub_type
ORDER BY 2 DESC;

 * sqlite:///hubway.db
Done.

[('Casual', 41427), ('Registered', 31635)]

#### Python solution

In [31]:

trips\
    .query('start_station==end_station')\
    .groupby('sub_type')['id'].count()

sub_type
Casual        41427
Registered    31635
Name: id, dtype: int64

### Q12. Which municipality had the most frequent Station End?

#### SQL solution

In [32]:
%%sql

SELECT s_end.municipality,COUNT(*) number_trips
FROM trips t 
JOIN stations AS s_end ON t.end_station = s_end.id
group by s_end.municipality
order by 2 desc
limit 1

 * sqlite:///hubway.db
Done.

[('Boston', 1212364)]

#### Python solution

In [36]:
##PYTHON SOLUTION

trips.dropna(subset=['end_station'])\
    .merge(stations.dropna(subset=['id'])
           ,how='left', left_on='end_station',right_on='id',suffixes=('_trips','_end_station'))\
    .groupby('municipality')['id_trips'].count()\
    .sort_values(ascending=False)\
    .head(1)

municipality
Boston    1212364
Name: id_trips, dtype: int64